<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>side脚本上传</title>
    <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <!-- Layui -->
    <script src="webjars/layui/2.5.6/layui.all.js"></script>
    <link rel="stylesheet" href="webjars/layui/2.5.6/css/layui.css">
</head>
<body>
<div class="layui-main" style="width: 334px">
    <div class="layui-tab layui-tab-card" >
        <ul class="layui-tab-title">
            <li class="layui-this">脚本上传</li>
            <li>成绩查询</li>
        </ul>
        <div class="layui-tab-content" style="height:auto;">
            <!-- Get Score -->
            <div class="layui-tab-item layui-show">
                <form class="layui-form" action="" id="upload-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">项目名称</label>
                        <div class="layui-input-inline">
                            <select name="pName" lay-verify="required" id="projects-select" lay-search>
                            </select>
                        </div>
                    </div>
                    <input class="file-input" id="fileUploadInput" name="file" required type="file" accept=".side" style='display:none;'/>
                    <div style="text-align: center">
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid" style="height: 140px" onclick="" id="upload-button">
                            <i class="layui-icon" style="font-size: 50px; color: #009688;"></i>
                            <p id="upload-button-text" style="font-size:20px; color: #999;">点击选择脚本文件</p>
                        </button>
                    </div><br>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" type="button" onclick="uploadButtonClick()">上传文件</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Get Score -->
            <div class="layui-tab-item">日頃よりこのサイトをご利用いただき、誠にありがとうございます。 現在システムメンテナンスのため、こちらのページはご利用いただけません。 ご不便をお掛け致しますが、ご理解いただきますようお願い申し上げます。</div>
        </div>
    </div>


</div>
<!-- Optional JavaScript -->
<script src="/js/sideUpload.js"></script>
</body>
</html>